body {
    color: #383838;
}

div#content { background: #fff; }

h1#title {
    font-size: 32px;
    text-align: center;
}

p#about { text-align: center; font-weight: bold; }
span.pre { font-family:  }

.pagination { text-align: center; }

ul#tweets_list {
    list-style: none;
}

ul#tweets_list li {
    margin:.5em 0;
    padding-bottom: .25em;
    border-bottom: 1px solid #ccc;
}

a.user { font-size: larger; }

div.text {
    font-size: large;
}

li.authority div.text {
    color: #990000;
}

div.info { margin-bottom: 1em; }

div.info img {
  margin: 0 8px 0 0;
  padding: 4px;
  border: 1px solid #D9E0E6;
  border-bottom-color: #C8CDD2;
  border-right-color: #C8CDD2;
  background: #fff;
}

div.actions { text-align: right; }

div#footer { margin: 1em 0; text-align: center; }