<html>
  <head>
    <title>I Don't Dig On Swine Flu: A Twitter Mashup</title>
    <%= stylesheet_link_tag "styles" %>
  </head>
  <body>
    <div id="content">
      <h1>I Don't Dig On Swine Flu</h1>
      <%= @content_for_layout %>
    </div>
    <%= image_tag "powered-by-twitter-sig.gif" %>
  </body>
</html>
