<html>
  <head>
    <title>I Don't Dig On Swine Flu: A Twitter Mashup</title>
    <%= stylesheet_link_tag "reset", "grids", "text", "styles" %>
    <%= javascript_include_tag "jquery", "jquery.timeago", "application" %>
  </head>
  <body>
    <div id="content" class="container_10">
      <h1 id="title">I Don't Dig On Swine Flu</h1>
      <%= @content_for_layout %>
      <div id="footer">
        <%= image_tag "powered-by-twitter-sig.gif" %>
      </div>
    </div>
    <% if RAILS_ENV == 'production' -%>
      <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        try {
          var pageTracker = _gat._getTracker("UA-1518490-6");
          pageTracker._trackPageview();
        } catch(err) {}
      </script>
    <% end-%>
  </body>
</html>
